@import "./variables.scss";

@media (max-width: 767px) {
  .pt-sm-30 {
    padding-top: $spacing-30;
  }
}

@media (max-width: 1199px) {
  .pt-lg-30 {
    padding-top: $spacing-30;
  }
}

.p-30 {
  padding: $spacing-30;
}

.p-15 {
  padding: $spacing-15;
}

.p-10 {
  padding: $spacing-10;
}

.pt-30 {
  padding-top: $spacing-30;
}

.pt-15 {
  padding-top: $spacing-15;
}

.pt-10 {
  padding-top: $spacing-10;
}

.pb-30 {
  padding-bottom: $spacing-30;
}

.pb-15 {
  padding-bottom: $spacing-15;
}

.pb-10 {
  padding-bottom: $spacing-10;
}

.py-30 {
  padding-top: $spacing-30;
  padding-bottom: $spacing-30;
}

.py-15 {
  padding-top: $spacing-15;
  padding-bottom: $spacing-15;
}

.py-10 {
  padding-top: $spacing-10;
  padding-bottom: $spacing-10;
}

.pl-30 {
  padding-left: $spacing-30;
}

.pl-15 {
  padding-left: $spacing-15;
}

.pl-10 {
  padding-left: $spacing-10;
}

.pr-30 {
  padding-right: $spacing-30;
}

.pr-15 {
  padding-right: $spacing-15;
}

.pr-10 {
  padding-right: $spacing-10;
}

.px-30 {
  padding-left: $spacing-30;
  padding-right: $spacing-30;
}

.px-15 {
  padding-left: $spacing-15;
  padding-right: $spacing-15;
}

.px-10 {
  padding-left: $spacing-10;
  padding-right: $spacing-10;
}

.m-30 {
  margin: $spacing-30;
}

.m-15 {
  margin: $spacing-15;
}

.m-10 {
  margin: $spacing-10;
}

.mt-30 {
  margin-top: $spacing-30;
}

.mt-15 {
  margin-top: $spacing-15;
}

.mt-10 {
  margin-top: $spacing-10;
}

.mb-30 {
  margin-bottom: $spacing-30;
}

.mb-15 {
  margin-bottom: $spacing-15;
}

.mb-10 {
  margin-bottom: $spacing-10;
}

.my-30 {
  margin-top: $spacing-30;
  margin-bottom: $spacing-30;
}

.my-15 {
  margin-top: $spacing-15;
  margin-bottom: $spacing-15;
}

.my-10 {
  margin-top: $spacing-10;
  margin-bottom: $spacing-10;
}

.ml-30 {
  margin-left: $spacing-30;
}

.ml-15 {
  margin-left: $spacing-15;
}

.ml-10 {
  margin-left: $spacing-10;
}

.mr-30 {
  margin-right: $spacing-30;
}

.mr-15 {
  margin-right: $spacing-15;
}

.mr-10 {
  margin-right: $spacing-10;
}

.mx-30 {
  margin-left: $spacing-30;
  margin-right: $spacing-30;
}

.mx-15 {
  margin-left: $spacing-15;
  margin-right: $spacing-15;
}

.mx-10 {
  margin-left: $spacing-10;
  margin-right: $spacing-10;
}
