@import "../assets/sass/variables.scss";

.table {
  font-size: 14px;

  .table-heading > .table-row {
    background-color: rgba(0, 0, 0, 0.06);
    font-weight: 700;
  }

  .table-row {
    display: flex;
    align-items: center;
    padding: $spacing-5 $spacing-10;
    border-radius: $spacing-30;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.06);
    }

    .table-cell {
      padding-right: $spacing-30;
      min-width: 90px;

      &:nth-child(1) {
        min-width: 45px;
        padding-right: 0;
      }
    }
  }
}

.table-outliers {
  padding-top: $spacing-10;
  text-align: center;
}

.table-pagination {
  padding-top: $spacing-15;
  display: flex;
  flex-direction: column;
  align-items: center;

  .table-pagination-buttons {
    display: flex;
    gap: $spacing-5;
  }

  .table-pagination-info {
    padding-top: $spacing-10;
    display: flex;
    align-items: center;
    gap: $spacing-5;

    > div {
      display: flex;
      align-items: center;
      gap: $spacing-5;
    }

    input {
      max-width: 60px;
    }
  }
}
