@import "../assets/sass/variables.scss";

.radio-fieldset {
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
  border: 0;
  padding: 0;
  margin: 0;

  > legend {
    padding: 0;
    margin-bottom: $spacing-10;
  }

  input {
    margin-left: 0;
    margin-right: $spacing-5;
  }
}

.select-background {
  background-color: $color-black;
  padding-right: $spacing-5;
  border-radius: $spacing-15;
  width: fit-content;

  select {
    background-color: $color-black;
    color: $color-gray;
    font-weight: 700;
    padding: 0 $spacing-15;
    border-radius: $spacing-15;
    border: 0;
    height: $spacing-30;
    cursor: pointer;
  }
}
