.top-menu-search {
  input {
    background-color: #222222;
    color: #d9d9d9;
    font-weight: 700;
    padding: 0 15px;
    border-radius: 15px;
    border: 0;
    height: 30px;
    width: 300px;
  }
}
